<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Ninjas</title>
</head>
<body>
<h1>Lista de Ninjas</h1>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Idade</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="ninja : ${ninjas}">
        <td th:text="${ninja.id}"></td>
        <td th:text="${ninja.nome}"></td>
        <td th:text="${ninja.idade}"></td>
    </tr>
    </tbody>
</table>
<a href="/ninjas/form">Adicionar Novo Ninja</a>
</body>
</html>